*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
}

body{
    background: rgb(8,49,159);
    background: linear-gradient(90deg, rgba(8,49,159,1) 0%, rgba(10,72,184,1) 14%, rgba(1,106,186,1) 58%)
}

body, input, button{
    font-family: 'Roboto', sans-serif;
}